<!DOCTYPE html>
<html>
    <head>
        <title>Mi Perfil</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
            crossorigin="anonymous"
            />
    </head>
    <body>
        <nav th:replace="/fragments/navbar :: nav"></nav>
        <div class="container m-5">
            <h1>Mi Perfil</h1>
            <div >
            </div>
            <div class="mb-3">
                <h3>Nombre</h3>
                <p th:text="${usuario.nombre}"> </p>
            </div>
            <div class="mb-3">
                <h3>Fecha de Nacimiento</h3>
                <p th:text="${usuario.fechaDeNacimiento}"> </p>
            </div >
            <div class="mb-3">
                <h3>Domicilio</h3>
                <p th:text="${usuario.domicilio}"> </p>
            </div>
            <div class="mb-3">
                <h3>Telefono</h3>
                <p th:text="${usuario.contacto}"> </p>
            </div>

            <div class="mb-3" sec:authorize="hasRole('PROFESIONAL')">
                <h3>Profesion</h3>
                <p th:text="${usuario.profesion}"> </p>
            </div>

            <div class="mb-3" sec:authorize="hasRole('PROFESIONAL')">
                <h3>Calificacion</h3>
                <p th:text="${usuario.promedioCalificacion}"> </p>
            </div>

            <div class="mb-3">
                <h3>Publicaciones</h3>
                <div th:if="${publicaciones}==null">
                    <p>Aun no hay publicaciones</p>
                </div>

                <div th:each="publicacion : ${publicaciones}"> 
                    <div class="mb-3">
                        <h4 th:text="${publicacion.texto}"></h4>
                    </div>

                </div>
            </div>
            <div class="mb-3" sec:authorize="hasRole('PROFESIONAL')" >
                <h3>Trabajos</h3>
                <div th:if="${trabajos}==null">
                    <p>Aun no hay trabajos realizados</p>
                </div>

                <div th:each="trabajo : ${trabajos}"> 
                    <div class="mb-3">
                        <h4 th:text="${trabajo.titulo}"></h4>
                    </div>

                </div>
            </div>


        </div>



        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>
